body {background-color:rgb(83, 156, 168);}
hr { background-color:rgb(83, 156, 168); border-style: dotted none none; border-color: rgb(6, 5, 56);
border-width:5px; width:85%;}
h1 {color: rgb(183, 184, 231);}
h3 {color: rgb(183, 184, 231);}
h2 {color:rgb(183, 184, 231);}